# ------------------------------------------------------------------------
# Copyright 2021, 2022 IBM Corp. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
# ------------------------------------------------------------------------
---
## this role check for previous swap device and delete it if present. Then configure the new swap device on the disk wwn value passed with swap_disk_wwn

## making sure that all requisite packages are present. If not, role will fail.
- name: Ensure multipath package is installed on RHEL
  ansible.builtin.package:
    name: device-mapper-multipath
    state: present
  when: ansible_distribution is match("RedHat*")

- name: Ensure multipath package is installed on SLES
  ansible.builtin.package:
    name: multipath-tools
    state: present
  when: ansible_distribution is match ("SLES*")

# multipathd daemon is checked whether it's up or not. If not, it is started.
- name: Ensure multipathd daemon is running
  ansible.builtin.service:
    name: multipathd
    state: started
    enabled: true

## first validate the date passed with swap_disk_wwn variable
- name: Running rescan command
  ansible.builtin.command: /usr/bin/rescan-scsi-bus.sh -a -c -v

# validate swap_disk_wwn provided with multipath -ll command, for its presence. fail, if does not match.
- name: Validating the wwn values passed
  ansible.builtin.shell: /sbin/multipath -ll | grep {{ swap_disk_wwn | lower }}
  register: validation_check
  ignore_errors: true

- name: Check for the results
  ansible.builtin.fail:
    msg: "command {{ validation_check.cmd }} failed"
  when: validation_check.rc==1

# if above validation is successful, continue with core logic of removing the already present swap device and creating a new based on wwn passed
# check for previous swap device, if any configured. If configured, remove it.
- name: Check for any swap device, if present, need to be removed
  ansible.builtin.shell: swapon -s | grep -v Filename | awk '{ print $1 }'
  register: swapon_device_list

- name: Delete previous swap device
  ansible.builtin.command: swapoff {{ item }}
  with_items: "{{ swapon_device_list.stdout_lines }}"
  changed_when: swapon_device_list.stdout is defined && swapon_device_list.stdout | length > 0

# validate if multipath alias is enabled. If enabled, set field to check for dm-X name, as 3, else it remains at default 2.
- name: Check if multipath alias is enabled.
  ansible.builtin.command: grep "user_friendly_names no" /etc/multipath.conf
  register: multipath_alias
  ignore_errors: true

- name: Setting count variable based on multipath aliasing is enabled or not
  ansible.builtin.set_fact:
    count: 3
  when: multipath_alias.rc == 1

- name: Get dm device for wwn  {{ swap_disk_wwn }}
  ansible.builtin.shell: 'multipath -ll | grep -B 1 {{ swap_disk_wwn | lower  }} | grep dm- | awk ''{print "/dev/"${{ count | default(2) }}}'' '
  register: swap_dm_name
  changed_when: swap_dm_name.stdout | length > 0

- name: Setting swap_dm_device variable
  ansible.builtin.set_fact:
    swap_dm_device: "{{ swap_dm_name.stdout }}"

# no create a new swap device, based on dm-X name of wwn disk.
# enabling swap device
- name: Mkswap on device  {{ swap_dm_device }}
  ansible.builtin.command: mkswap {{ swap_dm_device }}
  changed_when: false

# activating swap device
- name: Swapon the device  {{ swap_dm_device }}
  ansible.builtin.command: swapon {{ swap_dm_device }}
  changed_when: false
