---
# Enable Receive Flow Steering (RFS)

- name: Find udev rule files in /etc/udev/rules.d/ and /lib/udev/rules.d/
  ansible.builtin.find:
    paths:
      - /etc/udev/rules.d/
      - /lib/udev/rules.d/
    recurse: true
    patterns: "*.rules"
  register: udev_rule_files

- name: Slurp udev rule file contents
  ansible.builtin.slurp:
    src: "{{ item.path }}"
  loop: "{{ udev_rule_files.files }}"
  register: udev_rule_contents
  when: udev_rule_files.matched > 0

- name: Check if rps_flow_cnt is present in any udev rule
  ansible.builtin.set_fact:
    rule_present: "{{ udev_rule_contents.results | selectattr('content', 'defined') | map(attribute='content') | map('b64decode') | select('search', 'rps_flow_cnt') | list | length > 0 }}"

- name: Add udev rule if not present
  ansible.builtin.copy:
    dest: "/etc/udev/rules.d/70-ibmveth-rfs.rules"
    content: |
      SUBSYSTEM=="net",ACTION=="add",DRIVERS=="ibmveth",RUN{program}+="/bin/bash -c 'echo 32768 > /sys/$DEVPATH/queues/rx-0/rps_flow_cnt';"
    owner: root
    group: root
    mode: "0644"
  when: not rule_present
  register: add_rule_result

- name: Reload udev rules
  ansible.builtin.command:
    cmd: udevadm trigger --type=devices --action=add
  when: add_rule_result.changed

- name: Gather current value of net.core.rps_sock_flow_entries
  ansible.builtin.command:
    cmd: sysctl -n net.core.rps_sock_flow_entries
  register: current_value
  changed_when: false

- name: Ensure net.core.rps_sock_flow_entries is set to 32768
  ansible.posix.sysctl:
    name: net.core.rps_sock_flow_entries
    value: "32768"
    state: present
    reload: true
  when: current_value.stdout != '32768'

- name: Gather network facts
  ansible.builtin.setup:
    gather_subset:
      - network

- name: Detect network interface drivers
  ansible.builtin.command: ethtool -i {{ item }}
  loop: "{{ ansible_facts.interfaces | difference(['lo']) }}"
  register: ethtool_results
  changed_when: false
  failed_when: false

- name: Check if ibmveth driver is present
  ansible.builtin.set_fact:
    ibmveth_present: >-
      {{
        ethtool_results.results
        | map(attribute='stdout_lines')
        | flatten
        | select('equalto', 'driver: ibmveth')
        | list
        | length > 0
      }}

- name: Check if rx_copybreak sysfs parameter exists for ibmveth interface
  ansible.builtin.stat:
    path: /sys/module/ibmveth/parameters/rx_copybreak
  register: rx_copybreak_stat

- name: Set rx_copybreak for current session for ibmveth interface
  ansible.builtin.shell: echo 4096 > /sys/module/ibmveth/parameters/rx_copybreak
  when:
    - ibmveth_present
    - rx_copybreak_stat.stat.exists

- name: Persist rx_copybreak across reboot
  ansible.builtin.copy:
    dest: /etc/modprobe.d/ibmveth.conf
    content: |
      options ibmveth rx_copybreak=4096
    owner: root
    group: root
    mode: "0644"
  when: ibmveth_present
