---
# Enable Receive Flow Steering (RFS)

- name: Find udev rule files in /etc/udev/rules.d/ and /lib/udev/rules.d/
  ansible.builtin.find:
    paths:
      - /etc/udev/rules.d/
      - /lib/udev/rules.d/
    recurse: true
    patterns: "*.rules"
  register: udev_rule_files

- name: Slurp udev rule file contents
  ansible.builtin.slurp:
    src: "{{ item.path }}"
  loop: "{{ udev_rule_files.files }}"
  register: udev_rule_contents
  when: udev_rule_files.matched > 0

- name: Check if rps_flow_cnt is present in any udev rule
  ansible.builtin.set_fact:
    rule_present: "{{ udev_rule_contents.results | selectattr('content', 'defined') | map(attribute='content') | map('b64decode') | select('search', 'rps_flow_cnt') | list | length > 0 }}"

- name: Add udev rule if not present
  ansible.builtin.copy:
    dest: "/etc/udev/rules.d/70-ibmveth-rfs.rules"
    content: |
      SUBSYSTEM=="net",ACTION=="add",DRIVERS=="ibmveth",RUN{program}+="/bin/bash -c 'echo 32768 > /sys/$DEVPATH/queues/rx-0/rps_flow_cnt';"
    owner: root
    group: root
    mode: "0644"
  when: not rule_present
  register: add_rule_result

- name: Reload udev rules
  ansible.builtin.command:
    cmd: udevadm trigger --type=devices --action=add
  when: add_rule_result.changed

- name: Gather current value of net.core.rps_sock_flow_entries
  ansible.builtin.command:
    cmd: sysctl -n net.core.rps_sock_flow_entries
  register: current_value
  changed_when: false

- name: Ensure net.core.rps_sock_flow_entries is set to 32768
  ansible.posix.sysctl:
    name: net.core.rps_sock_flow_entries
    value: "32768"
    state: present
    reload: true
  when: current_value.stdout != '32768'

- name: Gather network facts
  ansible.builtin.setup:
    gather_subset:
      - network

- name: Check if rx_copybreak parameter exists for network interfaces
  ansible.builtin.stat:
    path: "/sys/class/net/{{ item }}/device/driver/module/parameters/rx_copybreak"
  loop: "{{ ansible_facts.interfaces | difference(['lo']) }}"
  register: rx_copybreak_check

- name: Determine if rx_copybreak parameter exists for any network interface
  ansible.builtin.set_fact:
    rx_copybreak_supported: >-
      {{
        rx_copybreak_check.results
        | selectattr('stat.exists')
        | list
        | length > 0
      }}

- name: Read current ibmveth module rx_copybreak value
  ansible.builtin.command: cat /sys/module/ibmveth/parameters/rx_copybreak
  register: rx_copybreak_current
  changed_when: false
  failed_when: false

- name: Set ibmveth module rx_copybreak to 4096
  ansible.builtin.command: tee /sys/module/ibmveth/parameters/rx_copybreak
  args:
    stdin: "4096"
  when:
    - rx_copybreak_supported
    - rx_copybreak_current.stdout is defined
    - rx_copybreak_current.stdout | trim != '4096'
  become: yes

- name: Persist ibmveth rx_copybreak value across reboot
  ansible.builtin.lineinfile:
    path: /etc/modprobe.d/ibmveth.conf
    regexp: '^options\s+ibmveth\s+rx_copybreak='
    line: "options ibmveth rx_copybreak=4096"
    create: yes
    owner: root
    group: root
    mode: "0644"
  when: rx_copybreak_supported
  become: yes
